
@{
    ViewData["Title"] = "Index";
}

<ul>
    <li>
        <a asp-controller="Lab6" asp-action="Content">Loads content from ContentResult</a>
    </li>
    <li>
        <a asp-controller="Lab6" asp-action="Redirect">Redirect to Twitch.tv using RedirectResult</a>
    </li>
    <li>
        <a asp-controller="Lab6" asp-action="BadRequestResult">BadRequest(Check network tab)</a>
    </li>
    <li>
        <a asp-controller="Lab6" asp-action="Result">OKResult(Check network tab)</a>
    </li>
</ul>

