@model String
   
@{
    Layout = null;
}

<head>
    <title>Add a Comment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1>Comment for <em>@Model</em></h1>

    <form method="post">
        <label for="commenter">Your Name</label><br />
        <input name="commenter" /> <br />
        <label for="commenttext">YOUR COMMENT</label><br />
        <textarea type="text" name="commenttext"></textarea><br />
        <br />

        <input class="btn-lg" type="submit" value="Enter" />
    </form>
</body>