@model String
   
@{
    Layout = null;
}

<head>
    <title>Add a Comment</title>
</head>

<body>
    <h1>Comment for <em>@Model</em></h1>

    <form method="post">
        <label for="commenter">Your Name</label>
        <input name="commenter" /> <br />
        <label for="commenttext">YOUR COMMENT</label>
        <textarea type="text" name="commenttext"></textarea>
        <br />

        <input type="submit" value="Enter" />
    </form>
</body>