@{
    ViewData["Title"] = "Links and Online Media";
}
<h1>@ViewData["Title"]</h1>


<body>          
    <a href="https://en.wikipedia.org/wiki/George_Carlin" target="_blank">Here's a cool link about George!</a>
    <br />    
    <br />
    <a href="https://www.biography.com/performer/george-carlin" target="_blank">Biography!</a>   
</body>

