@{
    ViewData["Title"] = "Sources";
}
<h1>@ViewData["Title"]</h1>

<p>STUB FOR SOURCES PAGE</p>
<a asp-action="Books">Books about George Carlin</a><br />
<a asp-action="Links">Online Media about George Carlin</a>