
@{
    ViewData["Title"] = "Stories";
}
<h1>@ViewData["Title"]</h1>

<p>WRITE A STORY</p>
<div>
    <form method="post">
        <label for="Title">Title</label>
        <input name="Title" /><br />
        <label for="Name">Name</label>
        <input name="Name" /><br />
        <label for="s">Story</label>
        <textarea name="s"></textarea>
        <label for="s" /><br />      
        <input type="submit" value="Enter" />
    </form>
    <br />
    <br />
    Click <a class="nav-link" asp-action="StoryList">here</a> to see other stories!
</div>
