@model List<Story>

@{
    ViewData["Title"] = "Fan Stories";
}

<h1>@ViewData["Title"]</h1>

<h2>Here is a list of fan stories</h2>
<body>    
        @foreach (Story s in Model)
        {
            
                @s.Users[0].Name <br />
                @s.UserStory <br />         
        }  
</body>